src/logic-apps/purge/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "blobServiceUri": { "type": "String" },
      "apiBaseUrl": { "type": "String" },
      "managedIdentityResourceId": { "type": "String" }
    },
    "triggers": {
      "Daily_recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1
        }
      }
    },
    "actions": {
      "List_audio_blobs": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "@{parameters('blobServiceUri')}audio?restype=container&comp=list",
          "headers": {
            "x-ms-version": "2021-08-06"
          },
          "authentication": {
            "type": "ManagedServiceIdentity",
            "identity": "@parameters('managedIdentityResourceId')",
            "audience": "https://storage.azure.com"
          }
        },
        "runAfter": {}
      },
      "For_each_audio_blob": {
        "type": "Foreach",
        "foreach": "@xpath(xml(body('List_audio_blobs')), '//*[local-name()=\"Blob\"]')",
        "actions": {
          "Condition_older_than_one_day": {
            "type": "If",
            "expression": {
              "less": [
                "@ticks(xpath(xml(item()), 'string(//*[local-name()=\"Last-Modified\"])'))",
                "@ticks(addDays(utcNow(), -1))"
              ]
            },
            "actions": {
              "Delete_audio_blob": {
                "type": "Http",
                "inputs": {
                  "method": "DELETE",
                  "uri": "@{parameters('blobServiceUri')}audio/@{xpath(xml(item()), 'string(//*[local-name()=\"Name\"])')}",
                  "headers": {
                    "x-ms-version": "2021-08-06"
                  },
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('managedIdentityResourceId')",
                    "audience": "https://storage.azure.com"
                  }
                },
                "runAfter": {}
              },
              "Delete_transcript_blob": {
                "type": "Http",
                "inputs": {
                  "method": "DELETE",
                  "uri": "@{parameters('blobServiceUri')}transcripts/@{first(split(xpath(xml(item()), 'string(//*[local-name()=\"Name\"])'), '.'))}.txt",
                  "headers": {
                    "x-ms-version": "2021-08-06"
                  },
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('managedIdentityResourceId')",
                    "audience": "https://storage.azure.com"
                  }
                },
                "runAfter": {
                  "Delete_audio_blob": [
                    "Succeeded",
                    "Failed"
                  ]
                }
              },
              "Mark_job_purged": {
                "type": "Http",
                "inputs": {
                  "method": "PATCH",
                  "uri": "@{parameters('apiBaseUrl')}/internal/jobs/@{first(split(xpath(xml(item()), 'string(//*[local-name()=\"Name\"])'), '.'))}/status",
                  "body": {
                    "status": "Purged"
                  },
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "@parameters('managedIdentityResourceId')"
                  }
                },
                "runAfter": {
                  "Delete_transcript_blob": [
                    "Succeeded",
                    "Failed"
                  ]
                }
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "List_audio_blobs": [
            "Succeeded"
          ]
        }
      }
    }
  },
  "kind": "Stateful"
}
