src/logic-apps/transcription/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "When_a_blob_is_added": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "path": "audio"
          },
          "serviceProviderConfiguration": {
            "connectionName": "AzureBlob",
            "operationId": "whenABlobIsAdded",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "splitOn": "@triggerOutputs()?['body']"
      }
    },
    "actions": {
      "Init_jobId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "jobId",
              "type": "string",
              "value": "@{first(split(triggerBody()?['Name'], '.'))}"
            }
          ]
        },
        "runAfter": {}
      },
      "Set_Processing": {
        "type": "Http",
        "inputs": {
          "method": "PATCH",
          "uri": "@{appsetting('Api__BaseUrl')}/internal/jobs/@{variables('jobId')}/status",
          "body": {
            "status": "Processing"
          },
          "authentication": {
            "type": "ManagedServiceIdentity"
          }
        },
        "runAfter": {
          "Init_jobId": [
            "Succeeded"
          ]
        }
      },
      "Transcribe_with_Azure_AI_Speech": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('Speech__Endpoint')}speechtotext/v3.2/transcriptions",
          "headers": {
            "Content-Type": "application/json",
            "Ocp-Apim-Subscription-Key": "@appsetting('Speech__Key')"
          },
          "body": {
            "displayName": "@variables('jobId')",
            "locale": "@appsetting('Speech__Language')",
            "contentUrls": [
              "@triggerBody()?['Path']"
            ],
            "properties": {
              "diarizationEnabled": true,
              "wordLevelTimestampsEnabled": false
            }
          }
        },
        "runAfter": {
          "Set_Processing": [
            "Succeeded"
          ]
        }
      },
      "Write_transcript_blob": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "containerName": "transcripts",
            "blobName": "@{variables('jobId')}.txt",
            "content": "@body('Transcribe_with_Azure_AI_Speech')"
          },
          "serviceProviderConfiguration": {
            "connectionName": "AzureBlob",
            "operationId": "uploadBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {
          "Transcribe_with_Azure_AI_Speech": [
            "Succeeded"
          ]
        }
      },
      "Set_Completed": {
        "type": "Http",
        "inputs": {
          "method": "PATCH",
          "uri": "@{appsetting('Api__BaseUrl')}/internal/jobs/@{variables('jobId')}/status",
          "body": {
            "status": "Completed",
            "transcriptBlobUrl": "@{appsetting('Storage__BlobEndpoint')}transcripts/@{variables('jobId')}.txt"
          },
          "authentication": {
            "type": "ManagedServiceIdentity"
          }
        },
        "runAfter": {
          "Write_transcript_blob": [
            "Succeeded"
          ]
        }
      },
      "Set_Failed": {
        "type": "Http",
        "inputs": {
          "method": "PATCH",
          "uri": "@{appsetting('Api__BaseUrl')}/internal/jobs/@{variables('jobId')}/status",
          "body": {
            "status": "Failed",
            "error": "Transcription workflow failed."
          },
          "authentication": {
            "type": "ManagedServiceIdentity"
          }
        },
        "runAfter": {
          "Transcribe_with_Azure_AI_Speech": [
            "Failed",
            "TimedOut"
          ],
          "Write_transcript_blob": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    }
  },
  "kind": "Stateful"
}
