src/logic-apps/transcription/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "speechEndpoint": { "type": "String" },
      "speechLanguage": { "type": "String", "defaultValue": "fr-FR" },
      "blobServiceUri": { "type": "String" },
      "managedIdentityResourceId": { "type": "String" }
    },
    "triggers": {
      "When_Event_Grid_event_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST"
        }
      }
    },
    "actions": {
      "Check_event_type": {
        "type": "If",
        "expression": {
          "equals": [
            "@triggerBody()?[0]?['eventType']",
            "Microsoft.EventGrid.SubscriptionValidationEvent"
          ]
        },
        "actions": {
          "Respond_validation": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200,
              "body": {
                "validationResponse": "@triggerBody()?[0]?['data']?['validationCode']"
              }
            }
          }
        },
        "else": {
          "actions": {
            "Get_audio_blob": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{triggerBody()?[0]?['data']?['url']}",
                "headers": {
                  "x-ms-version": "2021-08-06"
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "identity": "@parameters('managedIdentityResourceId')",
                  "audience": "https://storage.azure.com"
                }
              },
              "runAfter": {}
            },
            "Transcribe_with_Azure_AI_Speech": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{parameters('speechEndpoint')}speechtotext/transcriptions:transcribe?api-version=2024-11-15",
                "body": {
                  "$content-type": "multipart/form-data",
                  "$multipart": [
                    {
                      "headers": {
                        "Content-Disposition": "form-data; name=\"audio\"; filename=\"@{last(split(triggerBody()?[0]?['data']?['url'], '/'))}\"",
                        "Content-Type": "audio/mpeg"
                      },
                      "body": "@body('Get_audio_blob')"
                    },
                    {
                      "headers": {
                        "Content-Disposition": "form-data; name=\"definition\"",
                        "Content-Type": "application/json"
                      },
                      "body": "{\"locales\":[\"@{parameters('speechLanguage')}\"],\"diarization\":{\"maxSpeakers\":10,\"enabled\":true}}"
                    }
                  ]
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "identity": "@parameters('managedIdentityResourceId')",
                  "audience": "https://cognitiveservices.azure.com"
                }
              },
              "runAfter": {
                "Get_audio_blob": [
                  "Succeeded"
                ]
              }
            },
            "Select_transcript_lines": {
              "type": "Select",
              "inputs": {
                "from": "@coalesce(body('Transcribe_with_Azure_AI_Speech')?['phrases'], json('[]'))",
                "select": "[@{addToTime('1970-01-01T00:00:00Z', div(item()?['offsetMilliseconds'], 1000), 'Second', 'HH:mm:ss')} → @{addToTime('1970-01-01T00:00:00Z', div(add(coalesce(item()?['offsetMilliseconds'], 0), coalesce(item()?['durationMilliseconds'], 0)), 1000), 'Second', 'HH:mm:ss')}] Speaker @{coalesce(item()?['speaker'], '?')}: @{item()?['text']}"
              },
              "runAfter": {
                "Transcribe_with_Azure_AI_Speech": [
                  "Succeeded"
                ]
              }
            },
            "Build_transcript": {
              "type": "Compose",
              "inputs": "@if(greater(length(coalesce(body('Transcribe_with_Azure_AI_Speech')?['phrases'], json('[]'))), 0), join(body('Select_transcript_lines'), decodeUriComponent('%0A')), if(greater(length(coalesce(body('Transcribe_with_Azure_AI_Speech')?['combinedPhrases'], json('[]'))), 0), body('Transcribe_with_Azure_AI_Speech')?['combinedPhrases'][0]?['text'], ''))",
              "runAfter": {
                "Select_transcript_lines": [
                  "Succeeded"
                ]
              }
            },
            "Write_transcript_blob": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "@{parameters('blobServiceUri')}transcripts-auto/@{first(split(last(split(triggerBody()?[0]?['data']?['url'], '/')), '.'))}.txt",
                "headers": {
                  "x-ms-blob-type": "BlockBlob",
                  "x-ms-version": "2021-08-06",
                  "Content-Type": "text/plain; charset=utf-8"
                },
                "body": "@outputs('Build_transcript')",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "identity": "@parameters('managedIdentityResourceId')",
                  "audience": "https://storage.azure.com"
                }
              },
              "runAfter": {
                "Build_transcript": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "runAfter": {}
      }
    }
  },
  "kind": "Stateful"
}
